@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Movies</h1>
<div class="container">
    <div id="movie-list">
        @foreach (Movie m in Model.Movies)
        {
            <div class="movie-entry" data-title="@m.Title" data-mpaa="@m.MPAA_Rating" data-imdb="@m.IMDB_Rating" data-rt="@m.Rotten_Tomatoes_Rating">
                <h2>@m.Title @m.Release_Year</h2>
                <div>Rated @m.MPAA_Rating</div>
                <div>IMDB @m.IMDB_Rating</div>
                <div>Rotten Tomatoes @m.Rotten_Tomatoes_Rating</div>
            </div>
        }
    </div>

    <form method="post" id="safform">
        <input type="text" name="search" id="search" />
        <label><input type="checkbox" value="G" class="mpaa" />Rated G</label>
        <label><input type="checkbox" value="PG" class="mpaa" />Rated PG</label>
        <label><input type="checkbox" value="PG-13" class="mpaa" />Rated PG-13</label>
        <label><input type="checkbox" value="R" class="mpaa" />Rated R</label>
        <label><input type="checkbox" value="NC-17" class="mpaa" />Rated NC-17</label>

        <label>
            Minimum IMDB Rating:
            <input type="number" min="0" max="10" step=".1" name="minIMDB" />
            Maxmimum IMDB Rating:
            <input type="number" min="0" max="10" step=".1" name="maxIMDB" />
        </label>

        <input type="submit" value="Search" />
    </form>
</div>


